/alacritty/.config/alacritty/themes/
/nvim/.config/nvim/plugin
/vifm/.config/vifm/colors
/vifm/.config/vifm/scripts
/vifm/.config/vifm/vifm-help.txt
/vifm/.config/vifm/vifminfo.json
/emacs/.config/emacs/games/
/emacs/.config/emacs/config.el
/emacs/.config/emacs/diary
/emacs/.config/emacs/straight
/emacs/.config/emacs/eshell/history
/emacs/.config/emacs/eshell/lastdir
/emacs/.config/emacs/history
/emacs/.config/emacs/url
/emacs/.config/emacs/auto-save-list
/emacs/.config/emacs/nov-places
/emacs/.config/emacs/projects
/emacs/.config/emacs/transient/history.el
/emacs/.config/emacs/network-security.data
/emacs/.config/emacs/tramp
/emacs/.config/emacs/bookmarks
/emacs/.config/emacs/local-config.el
/emacs/.config/emacs/request/
/emacs/.config/emacs/smudge/
/emacs/.config/emacs/tree-sitter/
/emacs/.config/emacs/elpa/
/emacs/.config/emacs/forge-database.sqlite
